<!DOCTYPE html 5><!--[if IE]> <html lang="ru" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html lang="ru"><!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/jquery.fancybox.css"/><!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"> </script>
    <script type="text/javascript" src="http://ie.cntrlmrktng.ru/1.0/help.js" charset="UTF-8" async="async"></script><![endif]-->
  </head>
  <body ng-app="app" ng-controller="MainCtrl">
    <!-- === Header ============================================================= -->
    <header class="b-header">
      <div class="container">
        <div class="b-header__top">
          <div class="b-header__logo"><a href="#"><img src="img/b-header__logo.png"/></a></div>
          <ul class="b-header__menu b-menu b-menu_light">
            <li ng-class="{_active: currentPage == &quot;/&quot;}" class="b-menu__item"><a href="./">Биография</a></li>
            <li ng-class="{_active: currentPage == &quot;/gallery.html&quot;}" class="b-menu__item"><a href="gallery.html">Фото</a></li>
            <li ng-class="{_active: currentPage == &quot;/videos.html&quot;}" class="b-menu__item"><a href="videos.html">Видео</a></li>
            <li ng-class="{_active: currentPage == &quot;/projects.html&quot;}" class="b-menu__item"><a href="projects.html">Мои проекты</a></li>
            <li ng-class="{_active: currentPage == &quot;/contacts.html&quot;}" class="b-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
        </div>
        <div class="b-header__person"></div>
        <div class="b-header__about">
          <h1 class="b-header__about__heading heading_section"><strong>Всем</strong> привет!</h1>
          <div class="b-header__about__text text">
            Михаил Галустян родился в городе Сочи 25 октября 1979 года, правда, 
            при рождении родители дали ему имя Ншан… Еще в школе мальчик понял, 
            что он не такой как все – смешной: видел же себя в зеркале, да и все вокруг высокие такие и красивые... 
            Но Михаил Галустян не только не обижался, когда над ним смеялись, но даже пользовался этим.
          </div><a href="#" class="b-header__about__more link link_more">Биография</a>
          <div class="b-header__about__social b-social"><a href="#" class="b-social__icon _gray _vkontakte"></a><a href="#" class="b-social__icon _gray _facebook"></a><a href="#" class="b-social__icon _gray _twitter"></a><a href="#" class="b-social__icon _gray _instagram"></a></div>
        </div>
        <div class="b-header__video">
          <div class="b-header__video__wrapper"><img src="http://placehold.it/350x184.png"/></div><a href="#" class="b-header__video__more link link_more">Видео</a>
        </div>
      </div>
    </header>
    <!-- === Content ============================================================ -->
    <div class="b-page b-page_welcome">
      <!-- ~~~ Welcome ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //-->
      <div class="b-welcome">
        <div class="container">
          <div class="b-welcome__left">
            <div ng-controller="PhotoListCtrl" class="b-welcome-gallery">
              <h2 class="heading_section b-welcome-gallery__heading">Фото </h2>
              <ul bx-slider="slideWidth: 140, slideMargin: 20, maxSlides: 3, pager: false, nextText: &quot;&quot;, prevText: &quot;&quot;" class="b-welcome-gallery__slider">
                <li ng-repeat="photo in photos | limitTo:6" repeat-finished="repeat-finished" class="b-last-videos__item">
                  <div preview="preview" photo="photo" class="b-preview"></div>
                </li>
              </ul><a href="gallery.html" class="link link_more b-welcome-gallery__more">Все фото</a>
            </div>
            <div class="b-welcome-sub">
              <h2 class="b-welcome-sub__heading heading_section">Всегда в курсе </h2>
              <p class="b-welcome-sub__text text">Михаил Галустян родился в городе Сочи 25 октября 1979 года, правда, при рождении родители дали ему имя Ншан… </p><a href="#" class="link link_more b-welcome-sub__more">Все фото</a>
            </div>
          </div>
          <div ng-controller="FeedCtrl" class="b-welcome-feed b-welcome__right">
            <h2 class="heading_section b-welcome-feed__heading"><strong>Живая</strong> лента </h2>
            <div ng-repeat="post in posts | limitTo:3" class="b-welcome-feed__item"><img ng-src="{{post.image}}" ng-if="post.image" class="b-welcome-feed__item__image"/>
              <div class="b-welcome-feed__item__content">
                <div class="b-welcome-feed__item__date">{{post.date | date:'dd.MM.yyyy HH:mm'}}</div>
                <p class="b-welcome-feed__item__text text">
                   
                  {{post.desc | cut:true:130}}<a ng-href="{{post.link}}" class="link link_default">{{post.link}}</a>
                </p>
              </div>
            </div><a href="#" class="b-welcome-feed__more link link_more">Читать ленту</a>
          </div>
        </div>
      </div>
      <!-- ~~~ Last videos ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //-->
      <div ng-controller="VideoListCtrl" class="b-last-videos">
        <div class="container">
          <h2 class="heading_section b-last-videos__heading"><strong>Новые</strong> видео<a href="videos.html" class="b-last-videos__more link link_more">Все видео</a></h2>
          <video-slider videos="videos" limit="6"></video-slider>
        </div>
      </div>
      <footer class="b-footer">
        <div class="container">
          <ul class="b-footer__menu b-menu b-menu_dark">
            <li ng-class="{_active: currentPage == &quot;/&quot;}" class="b-menu__item"><a href="./">Биография</a></li>
            <li ng-class="{_active: currentPage == &quot;/gallery.html&quot;}" class="b-menu__item"><a href="gallery.html">Фото</a></li>
            <li ng-class="{_active: currentPage == &quot;/videos.html&quot;}" class="b-menu__item"><a href="videos.html">Видео</a></li>
            <li ng-class="{_active: currentPage == &quot;/projects.html&quot;}" class="b-menu__item"><a href="projects.html">Мои проекты</a></li>
            <li ng-class="{_active: currentPage == &quot;/contacts.html&quot;}" class="b-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <div class="b-footer__social b-social"><a href="#" class="b-social__icon _blue _vkontakte"></a><a href="#" class="b-social__icon _blue _facebook"></a><a href="#" class="b-social__icon _blue _twitter"></a><a href="#" class="b-social__icon _blue _instagram"></a></div>
          <div class="b-footer__copy">© 2014, Теймураз тания</div>
        </div>
      </footer>
    </div>
    <!-- === Scripts ============================================================ -->
    <script src="//vk.com/js/api/openapi.js"></script>
    <script>
      VK.init({
        apiId: 4646122
      });
      
    </script>
    <script src="js/vendor.min.js"></script>
    <script src="js/app.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>